.card {
    width: fit-content;
    height: fit-content;
    padding: 5px 0;
    margin: 0 10px;
    flex-grow: 1;
    /*justify-items: flex-start;*/
    height: 500px;
    width: 300px;
}

#movieContainer {
    display: flex;
    justify-content: center;
    /*width: 100%;*/
    overflow-x: scroll;

}