.card {
    width: fit-content;
    height: fit-content;
    padding: 5px 0;
    margin: 0 10px;
    flex-grow: 1;
    /*justify-items: flex-start;*/
    height: 500px;
    width: 300px;
    align-items: center;
}

#movieContainer {
    display: flex;
    justify-content: center;
    /*width: 100%;*/
    overflow-x: scroll;

}

.editButton {
    border-radius: 13px;
    background-color: dodgerblue;
    width: 90%;
}

/*.form-control {*/
/*    width: 10%;*/

/*}*/

/*form {*/
/*    width: 30%;*/
/*}*/